body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: white;
    overflow-y: scroll;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div#wrapper{
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
}

header{
    min-width: 300px;
    position: relative;
    top:0;
    width: 900px;
    height: 150px;
    color: grey;
    background-color: #363636;
    background-image: url(img/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.maincontent{
    min-height: 1000px;
    height: auto;
    width: 900px;
    background-color: #e2e2e2;
    margin-top: 10px;
}

div.innercontent{
    padding: 25px;
    margin-left: 25px;
}

a.header{
    width: 7em;
    text-decoration: none;
    color: inherit;
    padding: 1em 2em;
    border-right: 1px solid grey;
}

a.header:hover{
    color: white;
}

ul.header{
    list-style: none;
    margin-top: 70px;
}

li.header{
    margin-top: 25px;
    float: left;
}

ul {
    list-style-position:inside;
}

a.header {
    color: inherit;
    text-decoration: inherit;
}

ul.article{
    list-style: none;
    padding: 25px;
}

li.article{
    border: 1px solid black;
}

div.innerarticle{
    display: inline-block;
}

iframe.article{
    position: relative;
    left: 0;
    width: 400px;
    height: 300px;
}

footer{
    min-width: 300px;
    position: relative;
    bottom: 0;
    width: 900px;
    height: 100px;
    color: grey;
    background-color: #363636;
}
