body {
    background-color: white;
    overflow-y: scroll;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

div#wrapper{
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}

header{
    min-width: 300px;
    position: relative;
    top:0;
    width: 900px;
    height: 150px;
    color: white;
    background-color: #363636;
    background-image: url(img/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

img.articleImg{
	position: relative;
	height: 400px;
	width: 100%;
	
}

div.maincontent{
    min-height: 1000px;
    height: auto;
    width: 900px;
    background-color: #e2e2e2;
    margin-top: 10px;
}

div.innercontent{
    padding: 25px;
    margin-left: 25px;
}

a.header{
    width: 7em;
    text-decoration: none;
    color: inherit;
    padding: 1em 3em;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

a.header:hover, a.footer:hover{
    color: grey;
}

ul.header{
    list-style: none;
    margin-top: 40px;
}

li.header{
    margin-top: 25px;
    float: left;
}

.centered{
    text-align: center;
    
}

ul {
    list-style-position:inside;
}

a.header {
    color: inherit;
    text-decoration: inherit;
}

a.footer {
    color: white;
    text-decoration: none;
}

ul.article{
    list-style: none;
    padding: 25px;
}

li.article{
    border: 1px solid black;
    margin-bottom: 10px;
}

div.innerarticle{
    display: inline-block;
}

a.innerarticle{
    position: relative;
    bottom: 0;
    float: right;
    text-decoration: none;
	padding-bottom: 10px;
}

iframe.article{
    position: relative;
    left: 0;
    top: 0;
	padding-left: 5px;
	padding-top: 5px;
    width: 400px;
    height: 300px;
}

footer{
    min-width: 300px;
    position: relative;
    bottom: 0;
    width: 900px;
    height: 100px;
    color: grey;
    background-color: #363636;
}
